
@import '~@/app/styles/reference/variables/typography';

// General
.section {
	padding: 4rem 0;

	@include media('max', 'sm') {
		padding: 3rem 0;
	}
}
.full-height {
	min-height: calc(100vh - 82px - 216px);
}
.auth-title {
	@include media('max', 'sm') {
		font-size: 1.5rem;
	}
}
.auth-footer {
	display: flex;
	justify-content: center;
	align-items: center;

	p, a {
		text-align: center;
		font-size: 0.9rem;
	}

	a {
		@include media('max', 'xs') {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

// Position
$positions: relative, absolute, fixed, sticky;
@each $position in $positions {
  .position-#{$position} {
		position: #{$position} !important;
  }
}

// Widths and heights
$max: 100;
$step: 5;
@for $i from 0 through $max {
	$value: $step * $i;
	.width-#{$value} {
		width: #{$value * 1%};
	}
}
@for $i from 0 through $max {
	$value: $step * $i;
	.height-#{$value} {
		height: #{$value * 1%};
	}
}

// Font Weight
$font-weights: normal, medium, bold;
@each $font-weight in $font-weights {
  .font-weight-#{$font-weight} {
		font-weight: $font-weight !important;
  }
}

// Cursor
$cursors: pointer, disabled, progress, none;
@each $cursor in $cursors {
  .cursor-#{$cursor} {
		cursor: $cursor !important;
  }
}

// Overflow
.overflow-auto {
	overflow: auto;
}
.overflow-auto-x {
	overflow-x: auto;
	overflow-y: hidden;
}
.overflow-auto-y {
	overflow-x: hidden;
	overflow-y: auto;
}
.overflow-scroll {
	overflow: scroll;
}
.overflow-scroll-x {
	overflow-x: scroll;
	overflow-y: hidden;
}
.overflow-scroll-y {
	overflow-x: hidden;
	overflow-y: scroll;
}
.overflow-visible {
	overflow: visible;
}
.overflow-hidden {
	overflow: hidden;
}