

// main colors
$dark-blue: #424D7C;

// shade
$white: #fff;
$shade-lightest: #c6d0e7;
$shade-lighter: #a0acc7;
$shade-light: #79849e;
$shade: #576073;
$shade-dark: #373f52;
$shade-darker: #292f3f;
$shade-darkest: #1a1e29;