@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

// font family
$font-family-primary: 'Montserrat', 'Arial', sans-serif;

// font weight
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;