@import '~@/app/styles/reference/helpers/mixins';
@import '~@/app/styles/reference/variables/colors';

.rewards-list-items {
	background: $shade-lightest;

	.container {
		.list-title {
			margin-bottom: 4rem;

			@include media('max', 'sm') {
				font-size: 1.1rem;
				margin-bottom: 3rem;
			}
		}

		.list-container {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -1% 0 -1%;

			.rewards.card {
				flex-basis: 31.33%;
				margin: 0 1% 1.25rem 1%;

				@include media('max', 'md') {
					flex-basis: 48%;
					margin: 0 1% 1.25rem 1%;
				}

				@include media('max', 'xs') {
					flex-basis: 100%;
					margin: 0 0 1.25rem 0;
				}

				.img-container {
					background: $shade-lighter;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					max-height: 355px;
					overflow: hidden;
					
					.card-img-top {
						max-width: 100%;
						max-height: 100%;
					}
				}

				.card-body {
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					padding: 1.25rem 1.25rem 6.5rem 1.25rem;

					.main-btn {
						position: absolute;
						bottom: 0;
						margin: 1.5rem 0 1.75rem 0;

						svg {
							font-size: 0.65rem;
						}
					}
				}
			}

			.no-rewards {
				padding: 8rem 0;
			}
		}
	}
}