@import '~@/app/styles/reference/helpers/mixins';
@import '~@/app/styles/reference/variables/colors';

.rewards-list-items {
	background: $shade-lightest;

	.container {
		.list-title {
			margin-bottom: 4rem;

			@include media('max', 'sm') {
				font-size: 1.1rem;
				margin-bottom: 3rem;
			}
		}
	}
}