@import '~@/app/styles/reference/helpers/mixins';
@import '~@/app/styles/reference/variables/colors';

.auth-container {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.card {
		width: 45%;

		@include media('max', 'md') {
			width: 60%;
		}

		@include media('max', 'sm') {
			width: 80%;
		}

		@include media('max', 'xs') {
			width: 95%;
		}

		.card-body {
			padding: 3rem;

			@include media('max', 'sm') {
				padding: 3rem 2rem;
			}

			@include media('max', 'xs') {
				padding: 3rem 1.5rem;
			}
		}
	}
}