@import '~@/app/styles/reference/helpers/mixins';
@import '~@/app/styles/reference/variables/colors';
@import '~@/app/styles/reference/variables/typography';

// Body
body {
	color: $shade-darker;
	font-family: $font-family-primary !important;
	font-weight: $font-weight-normal !important;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	color: $shade-darker;
  font-weight: $font-weight-medium !important;
}
h1, h2 {
  font-weight: $font-weight-bold !important;
}

// Text
p {
	color: $shade-darker;
}
strong {
  font-weight: $font-weight-medium !important;
}

// Links
a {
	&,
	&:link,
	&:visited,
	&:active,
	&:focus {
		transition: all 200ms ease-in-out;
	}

	&:hover {
		opacity: 0.9;
	}
}